/* Give your page a fun background color */
body {
    background-color: gray;
}

/* Make the header and footer a different color from the background */
.header {
    color: aqua;
}



/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

/* Make your p tag a different color and italic */
p1 {
    font-style: italic;
    color: rgb(196, 180, 5);
}

/* Put a border around your image */
img {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
/* Change the font-family of your list */

ul {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}



